.footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #EEF2F7;
    padding: 40px 0;
}
.footer {

}
.footer .footer-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 70px;
}
.footer .footer-left {
    display: flex;
    flex-direction: column;
}
.footer .footer-right {
    display: flex;
    align-items: center;
}
.footer .footer-right .social-list {
    display: flex;
}
.footer .footer-right .social-list .social-item {

}
.footer .footer-right .social-list .social-item:not(:last-child) {
    margin-right: 40px;
}
.footer .footer-right .social-list .social-item .social-img {
    width: 40px;
    height: 40px;
}
.footer .footer-right .social-list .social-item .social-img path {
    transition: all 0.2s linear 0s;
}
.footer .footer-right .social-list .social-item .social-img path:hover {
    fill: #E26E3D !important;
}

@media (max-width: 1200px) {
    .footer {

    }
    .footer {

    }
    .footer .footer-row {

    }
    .footer .footer-left {

    }
    .footer .footer-right {

    }
    .footer .footer-right .social-list {

    }
    .footer .footer-right .social-list .social-item {

    }
    .footer .footer-right .social-list .social-item:not(:last-child) {

    }
    .footer .footer-right .social-list .social-item .social-img {

    }
}

@media (max-width: 992px) {
    .footer {

    }
    .footer {

    }
    .footer .footer-row {
        margin: 0 50px;
    }
    .footer .footer-left {
        line-height: 26px;
    }
    .footer .footer-right {

    }
    .footer .footer-right .social-list {

    }
    .footer .footer-right .social-list .social-item {

    }
    .footer .footer-right .social-list .social-item:not(:last-child) {
        margin-right: 25px;
    }
    .footer .footer-right .social-list .social-item .social-img {

    }
}

@media (max-width: 768px) {
    .footer {

    }
    .footer {

    }
    .footer .footer-row {
        flex-direction: column;
        margin: 0 30px;
    }
    .footer .footer-left {
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 40px;
    }
    .footer .footer-right {
        justify-content: center;
    }
    .footer .footer-right .social-list {

    }
    .footer .footer-right .social-list .social-item {

    }
    .footer .footer-right .social-list .social-item:not(:last-child) {

    }
    .footer .footer-right .social-list .social-item .social-img {

    }
}